In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Income1.csv')
df

,GEOID,State,2005,2006,2007,2008,2009,2010,2011,2012,2013
0,04000US01,Alabama,37150,37952,42212,44476,39980,40933,42590,43464,41381
1,04000US02,Alaska,55891,56418,62993,63989,61604,57848,57431,63648,61137
2,04000US04,Arizona,45245,46657,62993,46914,45739,46896,48621,47044,50602
3,04000US05,Arkansas,36658,37057,40795,39586,36538,38587,41302,39018,39919
4,04000US06,California,51755,55319,55734,57014,56134,54283,53367,57020,57528

### 1. Combined Average Income of all states from 2005 to 2013

In [3]:
def AvgIncome(df):
    lst = df.columns
    lst
    total = 0
    for i in lst[2:] :
        total += df[i].sum()
    return total/45

print(AvgIncome(df))

48876.044444444444

### 2. State with highest average income in the last three years (2011, 2012, 2013)

In [4]:
def highAvg(filename):
    modified_df = pd.read_csv(filename)
    modified_df['avg'] = modified_df.iloc[:,-3:].mean(axis = 1)
    high_avg = modified_df['avg'].max()
    res = modified_df.loc[modified_df['avg'] == high_avg]
    return res['State']
print(highAvg('Income1.csv'))

1    Alaska
Name: State, dtype: object

### 3. State with lowest average income from 2007 to 2010(inclusive)

In [5]:
def MinAvg(filename):
    df = pd.read_csv('Income1.csv')
    df['avg'] = df.iloc[: , 4:8].mean(axis = 1)
    min_avg = df['avg'].min()
    res = df.loc[df['avg'] == min_avg]
    return res['State']
print(MinAvg('Income1.csv'))

3    Arkansas
Name: State, dtype: object

### 4. Print the list of all states in the same line with average income less than California

In [6]:
def california(df):
    names = ''
    present_df = df.iloc[:,:]
    present_df['avg income'] = present_df.iloc[:, 2:].mean(axis = 1)
    avg_cal = present_df.iloc[-1,-1]
    for i in df.loc[present_df['avg income'] < 55350.444444]['State'] :
        names += ' ' + i
    return names
print(california(df))

 Alabama Arizona Arkansas

### 5. Print the names of states based on descending order of income in the year 2009

In [7]:
def names(df) :
    names = ''
    mydf = df[['State','2009']]
    mydf = mydf.sort_values(['2009'], ascending = False )
    for i in mydf['State']:
        names += ' ' + i
    return names

print(names(df))

 Alaska California Arizona Alabama Arkansas

### 6. State with the lowest recorded income from 2005 to 2013

In [8]:
def low_income(filename):
    df = pd.read_csv(filename)
    df['lowest income'] = df.iloc[:, 2:].min(axis = 1)
    lowest_income = df['lowest income'].min()
    res = df.loc[df['lowest income'] == lowest_income]
    return res['State']

print(low_income('Income1.csv'))

3    Arkansas
Name: State, dtype: object